   <p id="notice"></p>
   <p>
   <strong>Title:</strong>
   <p><%= @book.title %></p>
   <span>
   </p>
   
   <p>
    <strong>Body:</strong>
   <p><%= @book.body %></p>
    </span>
   </p>
   
   <%= link_to "edit", edit_book_path(@book.id) %>
    <a href="/books">Back</a>
    