   <p id="notice"></p>
   <p>
   <strong>Title:</strong>
   <p><%= @book.title %></p>
   <span>
   </p>
   
   <p>
    <strong>Body:</strong>
   <p><%= @book.body %></p>
    </span>
   </p>
   
   <a>Edit</a> 
    <a href="/books">Back</a>